

body{

}



.mydiv{

}

.mycontainer{

}

.mynav{

}

.navbar-brand{
   font-size: 30px; 
   font-weight: 600;
}

.mylink{
margin-left: 20px;
color: black;
}

.myspan{
font-size: 16px;
color: #ff1744;
font-weight: 500;
margin-bottom: 15px;
margin-left: 580px;
text-transform: uppercase;

}

.myschreiben{
    font-size: 55px;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 0;
}

.mypara{
    font-size: 16px;
    margin-top: 0;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 28px;

}

.mybtn{
    font-size: 15px;
color: #ffffff;
background-color: #ff1744;
padding: 12px 30px;
margin-top: 20px;
text-decoration: none;
margin-left: 570px;
}

.mytitel{
    font-size: 16px;
    color: #ff1744;
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.mysubtitel{
    font-size: 40px;
    color: #222;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 0;
    line-height: 1.2;
}

.myparagraf{
    font-size: 15px;
    color: #505050;
    margin-bottom: 0;
    font-weight: 600;
}

.myicon1{
    font-size: 38px;
    color: #ff1744;
    background-color: #fff3f3;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    margin-left: 180px;
}

.card-titel{
    font-size: 25px;
    color: #222;
    font-weight: 600;
    margin: 15px 0;
}

.phrase{
    font-size: 18px;
    line-height: 28px;
    color: #505050;
    margin: 0;
}


.myicon2{
    font-size: 38px;
    color: #ff1744;
    background-color: #fff3f3;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    margin-left: 180px;
}

.myicon3{
    font-size: 38px;
    color: #ff1744;
    background-color: #fff3f3;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    margin-left: 180px;   
}

.myicons1{
    color: #ff1744;
font-size: 40px;
font-style: normal;
font-weight: 400;
font-variant: normal;
text-transform: none;
white-space: nowrap;
word-wrap: normal;
direction: ltr;
line-height: 1;
margin-left: 190px;
}

.myicons2{
    color: #ff1744;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    line-height: 1;
    margin-left: 190px;
}

.myicons3{
    color: #ff1744;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    line-height: 1;
    margin-left: 190px;
}

.myicons4{
    color: #ff1744;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    line-height: 1;
    margin-left: 190px;
}

.myicons5{
    color: #ff1744;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    line-height: 1;
    margin-left: 190px;
}

.myicons6{
    color: #ff1744;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    line-height: 1;
    margin-left: 190px; 
}

.mydiv1{
    
}

.mysubtitel{
    font-size: 16px;
    color: #ff1744;
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.myphrase{
    font-size: 40px;
    color: #222;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1.2;
    margin-top: 0;
    font-family: 'Rubik', sans-serif;
}

.myuntertitel{
    font-size: 15px;
    color: #505050;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 26px;
    font-weight: 400;
    font-family: var(--bs-font-sans-serif);
    
}